body {
  background: #f5f7fb;
  font-family: "Inter", sans-serif;
}

button {
  padding: 2px;
  margin: 2px;
}

.App {
  padding: 20px;
}

.quiz {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.question {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: large;
}

.options {
  padding: 0.5rem;
}

.option-text {
  display: flex;
  flex-direction: row;
}

.opt-btn {
  background: transparent;
  border: 2.5px solid #293264;
  color: #293264;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.selected {
  background-color: #4d5b9e;
  color: white;
  border: none;
}
